// About Me Section 
.about {
  padding-top: 100px;
  
  p:nth-of-type(3) {
    padding-bottom: 100px;
  }

  h3, p {
    padding-bottom: 20px;
  }
}

.aboutContainer {
  @include flex (row-reverse, space-between, 0);
  flex-wrap: wrap;
}

.bioContainer {
  max-width: 750px;
}

.bioContainer,
.profilePic {
  flex: 1 1 350px;
}

// Hidden Image for Mobile
.mobileImage {
  display: none;
}

.profilePic {
  max-width: 350px;
  margin: 0 0 0 50px;
  
  img {
    box-shadow: 20px 10px lighten($button, 15%);
    border-radius: 3px;
  }
}
