// About Me - slide in
.bioContainer {
  transition-property: left opacity;
  transition-duration: 1s;
}

.hideBio {
  left: -300px;
}

.aboutMeSlideIn {
  left: 0;
}

// About Me + Toolkit Styles 
.hideBio,
.hideToolkit {
  position: relative;
  opacity: 0;
}

.aboutMeSlideIn,
.toolkitSlideUp {
  opacity: 1;
}

// Toolkit - Slide Up
.toolkitContainer {
  transition-property: bottom opacity;
  transition-duration: 1s;
}

.hideToolkit {
  bottom: -300px;
}

.toolkitSlideUp {
  bottom: 0;
}