// About Me - slide in
.hideBio {
  left: -300px;
}

.aboutMeSlideIn {
  left: 0;
}

// About Me + Toolkit Styles 
.hideBio,
.hideToolkit {
  position: relative;
  opacity: 0;
}

.aboutMeSlideIn,
.toolkitSlideUp {
  opacity: 1;
}

// Toolkit - Slide Up
.toolkitContainer {
  transition-property: bottom, opacity;
}

.hideToolkit {
  bottom: -300px;
}

.toolkitSlideUp {
  bottom: 0;
}

// Projects Animation

.projects {
  overflow: hidden;
}

.projectContainer {
  position: relative;
  opacity: 0;
  left: 300px;
}

.projectAnimate {
  left: 0;
  opacity: 1;
}

// Combined Styles

.projectContainer,
.bioContainer {
  transition-property: left, opacity;
}

.projectContainer,
.toolkitContainer,
.bioContainer {
  transition-duration: 1s;
  transition-timing-function: ease;
} 
