// About Me slide in
.bioContainer {
  transition-property: left opacity;
  transition-duration: 1s;
}

.hideBio {
  position: relative;
  left: -300px;
  opacity: 0;
}

.aboutMeSlideIn {
  left: 0;
  opacity: 1;
}

// Toolkit Slide Up
.toolkitContainer {
  transition-property: bottom opacity;
  transition-duration: 1s;
}

.hideToolkit {
  position: relative;
  bottom: -300px;
  opacity: 0;
}

.toolkitSlideUp {
  bottom: 0;
  opacity: 1;
}