header {
  height: 100vh;
  background: linear-gradient(to bottom, #d2e2e81d 60%, #d2e2e8d2, #d2e2e8), radial-gradient(#d2e2e8cb,  #d2e2e800), radial-gradient(#d2e2e812 20%, #d2e2e8), url(../assets/eucalyptusHeader.jpeg) no-repeat center / cover;
}

// Navigation
nav {
  ul {
    padding: 30px 0 0 50px;
    @include flex (row, left, center);
  }

  li {
    padding-right: 10px;
  }

  a {
    padding: 10px 10px;
    display: inline-block;
  }
}

.mobileNav {
  display: none;
}

// Hover effect
nav li a:not(.contactLink) {
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: darken($button, 25%);
  }
}

// Nav Contact underline
nav li:last-of-type a {
  position: relative;

  &:after {
    content: '';
    height: 4px;
    width: 85px;

    background: $button;
    border-radius: 6px;

    position: absolute;
    bottom: 4px;
    left: 8px;

    transition-property: width, background, bottom, left, right;
    transition-duration: 0.3s;
  }

  &:hover,
  &:focus {
    color: darken($button, 25%);

    &:after {
      width: 100px;
      background: transparent;
      
      bottom: -6px;
      left: 0;
      right: 0;
    }
  }
}
// End of Navigation

// Introduction
header {
  h1 {
    padding: 125px 0 25px 0;
  }

  span {
    display: block;
  }

  span:nth-of-type(3) {
    display: inline-block;
  }

  span:first-of-type {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 200px;
  }
}

// Type Writer Effect
// .heroBanner p {

// }


