header {
  background: #f4f6ff;
}

// Navigation
nav {
  ul {
    @include flex (row, left,   center);
    padding: 20px 0 0 50px;
  }

  li {
    padding-right: 10px;
  }

  a {
    padding: 10px 10px;
  }
}

// Hero statement
.headerFlex {
  @include flex (row, space-evenly, 0);
  flex-wrap: wrap;
}

header {
  h1 {
    padding: 200px 0 25px 0;
  }

  span {
    display: block;
  }

  span:nth-of-type(3) {
    display: inline-block;
  }

  span:first-of-type {
    padding-bottom: 20px;
  }

}

.heroBanner,
.heroImage {
  flex: 1 1 400px;
}

// Hero image
.heroImage {
  margin: 100px 0 80px 0;
  max-width: 400px;
  box-shadow: 25px 25px rgba(0, 128, 0, 0.591);
}


