header {
  height: 100vh;
  background: linear-gradient(to bottom, #e9ede87a), url(../assets/eucalyptusHeader.jpeg) no-repeat center / cover;
}

// Navigation
nav {
  ul {
    @include flex (row, left, center);
    padding: 30px 0 0 50px;
  }

  li {
    padding-right: 10px;
  }

  a {
    padding: 10px 10px;
    display: inline-block;
  }
}

// Hover effect
nav li a:not(.contactLink) {
  transition: color 0.3s;
  &:hover,
  &:focus {
    color: darken($button, 25%);
  }
}

// Nav Contact underline
nav li:last-of-type a {
  position: relative;

  &:after {
    content: '';
    height: 4px;
    width: 85px;
    position: absolute;
    background: $button;
    border-radius: 6px;
    bottom: 4px;
    left: 8px;
    transition-property: width, background, bottom, left, right;
    transition-duration: 0.3s;
  }

  &:hover,
  &:focus {
    color: darken($button, 25%);
    &:after {
      width: 100px;
      background: transparent;
      bottom: -6px;
      left: 0;
      right: 0;
    }
  }
}
// End of Navigation

// Introduction
header {
  h1 {
    padding: 125px 0 25px 0;
  }

  span {
    display: block;
  }

  span:nth-of-type(3) {
    display: inline-block;
  }

  span:first-of-type {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 200px;
  }
}


