// Reduced Motion
@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}
  
  // Medium / Tablet Screens ------------>
  @media (max-width: 995px) {
    // About me -->
      
    .projectContainer {
      max-width: 500px;
      padding: 40px 20px;
    }
    
    .projectInfo {
      max-width: 80%;
    }

    .projectImage {
      max-width: 400px;
    }
    
    .projects {
      ul li:nth-of-type(1) .projectImage,
      ul li:nth-of-type(3) .projectImage {
        margin: 0;
      }
      
      ul li:nth-of-type(2) .projectImage,
      ul li:nth-of-type(4) .projectImage {
        margin: 0;
      }
    }
    
    // Contact -->

    .connections {
      margin: 79px 25px 0 0;
    }
    
    form,
    legend {
      max-width: 400px;
  }
}

// Smaller Screens / Tablets ------------>
@media (max-width: 850px) {
  // About Me -->
  
  .aboutContainer {
    justify-content: center;
  }

  .profilePic {
    padding-bottom: 50px;
    min-width: 450px;
    margin: 0;
  }

  // Toggle Mobile / Desktop Images
  .mobileImage {
    display: block;
  }

  .desktopImage {
    display: none;
  }

  // Contact -->

  .contact {
    background-size: cover;
  }

  .contactContainer {
    flex-direction: column;
  }

  .connections {
    margin: 0;
    padding: 25px 0 75px 0;
    align-self: center;
  }

  .connectionsContainer {
    flex-direction: row;
  }

  .contactBox:first-of-type {
    margin-right: 10px;
  }

  .contactBox:nth-of-type(2) {
    margin-bottom: 30px;
  }

  form,
  legend {
    max-width: 500px;
  }
}
// Small Screens ------------>
@media (max-width: 715px) {
  // Global -->

  .sectionTitle {
    padding: 10px 0;
  }
  h2 {
    font-weight: 200;
    
    &:before,
    &:after {
      width: 45px;
      height: 1px;
    }
    
    &:after {
      right: -60px;
    }
    
    &:before {
      left: -60px;
    }
  }

  // Header -->

  h1 {
    span:nth-of-type(1) {
      font-size: 2.5rem;
    }

    span:nth-of-type(2) {
      font-size: 4rem;
    }

    span:nth-of-type(3) {
      font-size: 5rem;
    }
  }
  
  header {
    height: auto;

    h1 {
      padding-top: 70px;
    }
    
    p {
      font-size: 2.5rem;
      padding-bottom: 170px;
    }
  }

  // About Me -->

  .about {
    h3 {
      font-size: 2.5rem;
    }

    p {
    font-size: 2rem;
    }
  }

  .profilePic {
    min-width: 0;
    max-width: 450px;
    padding: 0 20px 50px 0;
  }

  // Projects -->

  .projectContainer {
    max-width: 400px;
  }

  .projectImage,
  .projectInfo {
    min-width: 0;
    max-width: 300px;
  }

  h4 {
    font-size: 3rem;
  }

  .projectContainer p:first-of-type {
    font-size: 1.8rem;
  }

  // Toolkit / Skills -->

  .toolkitContainer {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px 0px;

    li {
      width: 125px;
      height: 125px;
    }

    li:last-child {
      padding: 10px 5px;
    }


    i {
      font-size: 5rem;
    }

    .toolkitContainer li:last-of-type i {
      font-size: 4rem;
    }

    img {
      width: 50px;
    }
  } 

  .toolkit ul p {
    font-size: 1.6rem;
  }

  // Contact -->
  .socials a {
    font-size: 3rem;
    padding: 10px 15px;
  }

  .socials li:last-child a {
    margin: 0;
  }
}

// Mobile / Small Tablets ------------>
@media (max-width: 526px) {
  // Global -->

  .sectionTitle {
    margin-bottom: 50px;
  }

  // Header -->

  // Mobile Nav -->
  .mobileNav {
    display: block;
    font-size: 2.5rem;
  }

  nav {
    a:not(.mobileNav) {
      padding: 5px 10px;
    }

    ul {
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
    }
  }

  nav ul li:last-child {
    margin-bottom: -130px;
  }
  
  .toggleDropDown {
    visibility: hidden;
  }
  
  // Hero Statement
  h1 {
    span:nth-of-type(1) {
      font-size: 1.8rem;
    }

    span:nth-of-type(2) {
      font-size: 2.5rem;
    }

    span:nth-of-type(3) {
      font-size: 3.1rem;
    }
  }

  header p {
    font-size: 2rem;
  }

  // About Me -->

  .about {
    padding-bottom: 50px;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.8rem;
    }

    a {
      width: 226px;
    }

    p:nth-of-type(3) {
      padding-bottom: 50px;
    }

  }

  .profilePic {
    max-width: 350px;
  }

  // Projects -->

  .projects {
    background: lighten($button, 30%);

    // Project Buttons
    a:first-of-type {
      margin: 0 0 5px 0;
    }

    a {
      text-align: center;
    }
  }

  .projectContainer {
    background: #fbfffb;
    padding: 20px 20px;
    margin: 25px auto;
  }
  
  .projects ul li:last-of-type .projectContainer {
    margin: 0 auto;
  }

  .projectImage,
  .projectInfo {
    min-width: 0;
    max-width: 300px;
  }

  // Toolkit -->

  .toolkitContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px 10px;
    padding-bottom: 50px;

    img {
      width: 35px;
      margin: 0;
    }

    li {
      height: 100%;
      width: 100%;
      padding: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 3rem;
    }
    
    li:last-of-type i {
      font-size: 3rem;
    }

    p {
      padding: 0 0 0 10px;
    }
  }

  // Mobile list edit
  .desktopToolkit {
    display: none;
  }

  .mobileToolkit {
    display: block;
  }

  // Contact -->

  .contact {
    padding-bottom: 50px;

    background-position: center;
    background-size: cover;
  }

  .follow {
    flex-direction: column;

    p {
      padding-bottom: 5px;
    }
  }

  .socials a {
    display: block;
  }

  .contactContainer {
    padding: 25px 10px;
  }

  .connections {
    padding: 0 0 50px 0;
  }

  .connectionsContainer {
    flex-direction: column;
    justify-content: center;
  }

  .contactBox {
    margin: 0;
  }

  .contactBox:first-of-type {
    margin: 0 0 5px 0;
  }

  legend {
    font-size: 1.6rem;
  }

  // Mobile Button Transitions
  button,
  .projects a,
  .about a {
    display: block;
    background: $white;
    transition-property: border, color, background;
    transition-duration: 0.3s;
    
    &:hover,
    &:focus {
      border: 2px solid $button;
      color: $white;
      background: $button;
    }
  }
  


}


