// Reduced Motion
@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}
  
  // Medium / Tablet Screens ------------>
  @media (max-width: 995px) {
    // About me -->
      
    .projectContainer {
      max-width: 500px;
      padding: 40px 20px;
    }
    
    .projectInfo {
      max-width: 80%;
    }

    .projectImage {
      max-width: 400px;
    }
    
    .projects {
      ul li:nth-of-type(1) .projectImage,
      ul li:nth-of-type(3) .projectImage {
        margin: 0;
      }
      
      ul li:nth-of-type(2) .projectImage,
      ul li:nth-of-type(4) .projectImage {
        margin: 0;
      }
    }
    
    // Contact -->
    
    form,
    legend {
      max-width: 400px;
  }
}

// Smaller Screens / Tablets ------------>
@media (max-width: 850px) {
  // Header -->

  h1 span:nth-of-type(3) {
    font-size: 6rem;
  }
  // About Me -->
  
  .aboutContainer {
    justify-content: center;
  }

  .profilePic {
    min-width: 450px;
    padding-bottom: 50px;
    margin: 0;
  }

  // Toggle Mobile / Desktop Images
  .mobileImage {
    display: block;
  }

  .desktopImage {
    display: none;
  }

  // Contact -->

  .contact {
    background-size: cover;
  }

  .contactContainer {
    flex-direction: column;
  }

  .connections {
    padding: 25px 0 75px 0;
    margin: 0;

    align-self: center;
  }

  form,
  legend {
    max-width: 500px;
  }
}

// Small Screens ------------>
@media (max-width: 715px) {
  // Header -->

  h1 {
    span:nth-of-type(1) {
      font-size: 2.5rem;
    }
    
    span:nth-of-type(2) {
      font-size: 4rem;
    }
    
    span:nth-of-type(3) {
      font-size: 5rem;
    }
  }
  
  header {
    height: auto;
    
    h1 {
      padding-top: 70px;
    }
    
    p {
      font-size: 3.5rem;
    }
  }

  // About Me -->

  .about {
    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .profilePic {
    min-width: 0;
    max-width: 450px;
    padding: 0 20px 50px 0;
  }

  // Projects -->

  .projectContainer {
    max-width: 400px;
  }

  .projectImage,
  .projectInfo {
    min-width: 0;
    max-width: 300px;
  }

  h4 {
    font-size: 4rem;
  }

  .projectContainer p:first-of-type {
    font-size: 1.8rem;
  }

  // Toolkit / Skills -->

  .toolkitContainer {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px 0px;

    li {
      width: 125px;
      height: 125px;
    }

    li:last-child {
      padding: 10px 5px;
    }


    i {
      font-size: 5rem;
    }

    .toolkitContainer li:last-of-type i {
      font-size: 4rem;
    }

    img {
      width: 50px;
    }
  } 

  .toolkit ul p {
    font-size: 1.6rem;
  }

  // Contact -->

  .socials a {
    font-size: 3rem;
    padding: 10px 15px;
  }
}

// Mobile / Small Tablets / Final Query ------------>
@media (max-width: 580px) {
  // Header -->

  // Mobile Nav -->
  .mobileNav {
    display: block;
    font-size: 2.5rem;
  }

  nav {
    a:not(.mobileNav) {
      padding: 5px 10px;
    }

    ul {
      padding: 0;

      flex-direction: column;
      align-items: flex-end;
    }
  }

  nav ul li:last-child {
    margin-bottom: -130px;
  }
  
  // Mobile Nav
  .mobileDropDown.toggleDropDown {
    transition: opacity 0.3s;
  }

  .mobileDropDown {
    opacity: 0;
  }
  
  .toggleDropDown {
    opacity: 1;
  }

  nav li:last-of-type a::after {
    height: 3px;
  }
  
  // Hero Statement
  h1 {
    span:nth-of-type(1) {
      font-size: 1.8rem;
    }

    span:nth-of-type(2) {
      font-size: 2.5rem;
    }

    span:nth-of-type(3) {
      font-size: 2.7rem;
    }
  }

  header p {
    font-size: 2.5rem;
  }

  // Main --->

  h2 {
    padding: 50px 0;
    font-size: 6rem;
  }

  // About Me -->

  .about {
    padding-top: 50px;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.8rem;
    }

    a {
      width: 226px;
    }
  }

  .profilePic {
    max-width: 350px;
  }

  // Projects -->

  h4 {
    font-size: 3.5rem;
  }

  .projects {
    // Project Buttons
    a:first-of-type {
      margin: 0 0 5px 0;
    }

    a {
      text-align: center;
    }
  }

  .projectContainer {
    padding: 20px 20px;
    margin: 25px auto;
  }
  
  .projectImage,
  .projectInfo {
    min-width: 0;
    max-width: 300px;
  }

  // Toolkit -->

  .toolkitContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px 10px;

    img {
      width: 35px;
      margin: 0;
    }

    li {
      height: 100%;
      width: 100%;
      padding: 5px;
      text-align: left;

      @include flex(row, 0, center);
    }

    i {
      font-size: 3rem;
      width: 37.5px;
    }
    
    li:last-of-type i {
      font-size: 3rem;
    }

    p {
      padding: 0 0 0 10px;
    }
  }

  // Toolkit Mobile Version
  .desktopToolkit {
    display: none;
  }

  .mobileToolkit {
    display: block;
  }

  // Contact -->

  .contact {
    padding-bottom: 50px;
  }

  .contactContainer {
    padding: 0 10px 25px 10px;
  }

  .connections {
    width: 100%;
  }

  .follow {
    justify-content: center;
  }

  .socials p {
      display: none;
  }

  legend {
    font-size: 1.6rem;
  }

  // Mobile Button Transitions
  button,
  .projects a,
  .about a {
    display: block;
    background: $white;

    transition-property: border, color, background;
    transition-duration: 0.3s;
    
    &:hover,
    &:focus {
      border: 2px solid $button;
      color: $white;
      background: $button;
    }
  }
// End of Query
}

@media (max-width: 344px) {
  .toolkitContainer {
    li,
    li:last-child {
      padding-left: 27%;
    }
  }
}


