.projects {
  // Reversing every other project layout
  ul li:nth-of-type(2) .projectContainer,
  ul li:nth-of-type(4) .projectContainer {
    flex-direction: row-reverse;
  }

  ul li:nth-of-type(1) .projectImage,
  ul li:nth-of-type(3) .projectImage {
    margin-right: 50px;
  }

  ul li:nth-of-type(2) .projectImage,
  ul li:nth-of-type(4) .projectImage {
    margin-left: 50px;
  }


  ul li:nth-of-type(4) .projectContainer {
    &:after {
      width: 0;
      height: 0;
    }
  }

  .projectContainer p:last-of-type {
    padding: 10px 0 30px 0;
  }

  a:first-of-type {
    margin-right: 5px;
  }
}

// Projects 
.projectContainer {
  max-width: 95%;
  padding: 50px;
  margin: 0 auto 50px auto;

  background: lighten(#f0ece3, 25%);
  border-radius: 5px;

  @include flex (row, center, center);
  flex-wrap: wrap;
}

.projects ul li:last-of-type .projectContainer {
  margin: 0 auto;
}

// Images
.projectImage {
  min-width: 400px;
  max-width: 450px;

  flex: 1 1 300px;
}

// Copy
.projectInfo {
  max-width: 45%;
  flex: 1 1 300px;
}

h4 {
  padding-bottom: 5px;
}

