a,
button {
  font-family: inherit;
  color: inherit;
}

body {
  font-family: $anotherNewFont;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Header ------>

// Hero statement
h1 {
  span:nth-of-type(1) {
    font-size: 3.5rem;
    font-weight: 600;
  }

  span:nth-of-type(2) {
    font-size: 5rem;
    font-weight: 400;
  }

  span:nth-of-type(3) {
    font-size: 7rem;
    font-family: $anotherNewFont;

    background: linear-gradient(to top, #02570233 35%, transparent 35%);
  }
}

span:nth-of-type(3),
h3,
.connections p,
legend {
  font-weight: 500;
}




header p {
  font-size: 4rem;
  font-family: $roboto;
}

// Main  ------>

// Section Titles
h2 {
  font-size: 8rem;
  font-weight: 500;
  font-family: $lato;
  color: $titleColour;
}

// About Me Header
h3 {
  font-size: 3.5rem;
}

// About Me Body
p {
  font-size: 2.25rem;
  line-height: 1.4;
}

// Projects -->

// Titles
h4 {
  font-size: 6rem;
  font-family: $lato;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: $titleColour;
}

// Header Nav, Body, Toolkit, Contact, Form, Footer
nav li,
.projectContainer p:first-of-type,
.toolkit ul p,
.connections p,
.connections a,
legend,
footer p {
  font-size: 2rem;
}

// Tools
.projectContainer p:last-of-type {
  font-size: 1.6rem;
  font-weight: 600;
}

// Contact -->

.connections {

  a {
    font-weight: 300;
  }
}

.socials a {
  font-size: 2.5rem;
}

input,
textarea {
  font-size: 1.6rem;
}

