// Fonts
$baseFont: 'Montserrat', sans-serif;
$heroFont: 'Playfair Display', serif;
$titleFont: 'Playfair Display', serif;
$newFont: 'Oswald', sans-serif;
$anotherNewFont: 'Poppins', sans-serif;
$testFont: 'Monda', sans-serif;

// Colours
$black: #000;
$white: #FFF;

// Button Colour
$button: #6fae64;

// Background Colour
$background: #dde4dd;