// Fonts
$baseFont: 'Poppins', sans-serif;
$secondaryFont: 'Lato', sans-serif; 
$tertiaryFont: 'Roboto Slab', sans-serif;

// Colours
$black: #000;
$white: #FFF;

// Button Colour
$button: #6fae64;

// Background Colour
$background: #d2e2e8;

// Section Title Font Colour
$titleColour: #3f3f3f;