html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background: #d2e2e8;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#d2e2e8b6)), url(../assets/branchOne.png) no-repeat -200% 18%, url(../assets/branchTwo.png) no-repeat 300% 62%, url(../assets/branchThree.png) no-repeat -300% 99%;
  background: linear-gradient(#d2e2e8b6), url(../assets/branchOne.png) no-repeat -200% 18%, url(../assets/branchTwo.png) no-repeat 300% 62%, url(../assets/branchThree.png) no-repeat -300% 99%;
  background-size: 100%, 90%, 90%, 90%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

.wrapperHeader {
  width: 85%;
}

.wrapper {
  width: 90%;
}

.wrapperHeader,
.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

button,
.projects a,
.about a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 2rem;
  color: #000;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #6fae64), color-stop(50%, #FFF));
  background: linear-gradient(to right, #6fae64 50%, #FFF 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button:hover, button:focus,
.projects a:hover,
.projects a:focus,
.about a:hover,
.about a:focus {
  background-position: left bottom;
  border: 2px solid #6fae64;
  color: #FFF;
}

h2 {
  padding: 100px 0;
}

a,
button {
  font-family: inherit;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 span:nth-of-type(1) {
  font-size: 3.5rem;
  font-weight: 600;
}

h1 span:nth-of-type(2) {
  font-size: 5rem;
  font-weight: 400;
}

h1 span:nth-of-type(3) {
  font-size: 7rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #02570233), color-stop(35%, transparent));
  background: linear-gradient(to top, #02570233 35%, transparent 35%);
}

span:nth-of-type(3),
h3,
.connections p,
h5 {
  font-weight: 500;
}

header p {
  font-size: 4rem;
  font-family: "Roboto Slab", sans-serif;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 3.5rem;
}

p {
  font-size: 2.25rem;
  line-height: 1.4;
}

h2,
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #3f3f3f;
}

h4 {
  font-size: 6rem;
  letter-spacing: 1.25px;
}

nav li,
.projectContainer p:first-of-type,
.toolkit ul p,
.connections p,
.connections a,
h5 {
  font-size: 2rem;
}

.projectContainer p:last-of-type {
  font-size: 1.6rem;
  font-weight: 600;
}

.connections a {
  font-weight: 300;
}

.socials a {
  font-size: 2.5rem;
}

input,
textarea {
  font-size: 1.6rem;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #d2e2e81d), color-stop(#d2e2e8d2), to(#d2e2e8)), radial-gradient(#d2e2e8cb, #d2e2e800), radial-gradient(#d2e2e812 20%, #d2e2e8), url(../assets/eucalyptusHeader.jpeg) no-repeat center/cover;
  background: linear-gradient(to bottom, #d2e2e81d 60%, #d2e2e8d2, #d2e2e8), radial-gradient(#d2e2e8cb, #d2e2e800), radial-gradient(#d2e2e812 20%, #d2e2e8), url(../assets/eucalyptusHeader.jpeg) no-repeat center/cover;
}

nav ul {
  padding: 10px 0 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  padding-right: 10px;
}

nav a {
  padding: 10px 10px;
  display: inline-block;
}

.mobileNav {
  display: none;
}

nav li a:not(.contactLink) {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav li a:not(.contactLink):hover, nav li a:not(.contactLink):focus {
  color: #396032;
}

nav li:last-of-type a {
  position: relative;
}

nav li:last-of-type a:after {
  content: '';
  height: 4px;
  width: 85px;
  background: #6fae64;
  border-radius: 6px;
  position: absolute;
  bottom: 4px;
  left: 8px;
  -webkit-transition-property: width, background, bottom, left, right;
  transition-property: width, background, bottom, left, right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav li:last-of-type a:hover, nav li:last-of-type a:focus {
  color: #396032;
}

nav li:last-of-type a:hover:after, nav li:last-of-type a:focus:after {
  width: 100px;
  background: transparent;
  bottom: -6px;
  left: 0;
  right: 0;
}

header h1 {
  padding: 125px 0 10px 0;
}

header h1 span {
  display: block;
}

header h1 span:first-of-type {
  padding-bottom: 20px;
}

header h1 span:nth-of-type(3) {
  display: inline-block;
}

.cursor {
  display: inline-block;
  width: 3px;
  background: #000;
  margin-left: 5px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background: #000;
  }
  49% {
    background: #000;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #000;
  }
}

@keyframes blink {
  0% {
    background: #000;
  }
  49% {
    background: #000;
  }
  50% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #000;
  }
}

.about {
  padding-top: 100px;
}

.about p:nth-of-type(3) {
  padding-bottom: 100px;
}

.about h3, .about p {
  padding-bottom: 20px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bioContainer {
  max-width: 750px;
}

.bioContainer,
.profilePic {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.mobileImage {
  display: none;
}

.profilePic {
  max-width: 350px;
  margin: 0 0 0 50px;
}

.profilePic img {
  -webkit-box-shadow: 20px 10px #9ec896;
          box-shadow: 20px 10px #9ec896;
  border-radius: 3px;
}

.projects ul li:nth-of-type(2) .projectContainer,
.projects ul li:nth-of-type(4) .projectContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects ul li:nth-of-type(1) .projectImage,
.projects ul li:nth-of-type(3) .projectImage {
  margin-right: 50px;
}

.projects ul li:nth-of-type(2) .projectImage,
.projects ul li:nth-of-type(4) .projectImage {
  margin-left: 50px;
}

.projects ul li:nth-of-type(4) .projectContainer:after {
  width: 0;
  height: 0;
}

.projects .projectContainer p:last-of-type {
  padding: 10px 0 30px 0;
}

.projects a:first-of-type {
  margin-right: 5px;
}

.projectContainer {
  max-width: 95%;
  padding: 50px;
  margin: 0 auto 50px auto;
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects ul li:last-of-type .projectContainer {
  margin: 0 auto;
}

.projectImage {
  min-width: 400px;
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.projectInfo {
  max-width: 45%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

h4 {
  padding-bottom: 5px;
}

.toolkitContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 15px;
}

.toolkitContainer img {
  width: 72px;
  margin: 0 auto;
}

.toolkitContainer i {
  font-size: 7rem;
  color: #697469;
}

.toolkitContainer li {
  width: 160px;
  height: 150px;
  padding-top: 20px;
  background: #f7f7f7;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #0000003e, -2px 0 2px #00000027;
          box-shadow: 5px 5px 5px #0000003e, -2px 0 2px #00000027;
  text-align: center;
}

.toolkitContainer li:last-of-type i {
  font-size: 5.5rem;
}

.toolkitContainer p {
  padding-top: 10px;
}

.mobileToolkit {
  display: none;
}

.contact {
  padding-bottom: 100px;
}

.contactContainer {
  padding: 50px 50px;
  background: #ffffffd2;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connections {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 57px 100px 0 0;
}

.connections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.contactBox {
  margin-bottom: 20px;
}

.contactBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  padding: 15px 20px;
  border: 2px solid #000;
  -webkit-transition-property: background, color, border;
  transition-property: background, color, border;
}

.contactBox a p {
  padding-right: 10px;
  color: inherit;
}

.contactBox a i {
  margin-top: 2px;
}

.contactBox a:hover, .contactBox a:focus {
  background: #6fae64;
  color: #FFF;
  border: 2px solid #6fae64;
}

.contactBox a,
.socials a {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.follow li:first-of-type {
  padding-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.follow a {
  display: block;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.socials a {
  padding: 5px 10px;
  border: 2px solid #000;
  -webkit-transition-property: color, background, border;
  transition-property: color, background, border;
}

.socials a:hover, .socials a:focus {
  color: #FFF;
}

.socials li:nth-of-type(2) a,
.socials li:nth-of-type(3) a {
  margin-right: 10px;
}

.socials li:nth-of-type(2) a:hover, .socials li:nth-of-type(2) a:focus {
  background: #2867b2;
  border: 2px solid #2867b2;
}

.socials li:nth-of-type(3) a:hover, .socials li:nth-of-type(3) a:focus {
  background: #211F1F;
  border: 2px solid #211F1F;
}

.socials li:nth-of-type(4) a:hover, .socials li:nth-of-type(4) a:focus {
  background: #1DA1F2;
  border: 2px solid #1DA1F2;
}

form h5,
.socials li:not(.socialsTitle) {
  text-align: center;
}

.formTitleMobile {
  display: none;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

form h5 {
  max-width: 500px;
  padding-bottom: 10px;
  display: block;
}

form input {
  padding: 10px 0 10px 10px;
}

form textarea {
  padding: 10px 0 60px 10px;
}

form input,
form textarea {
  margin-bottom: 20px;
  border: 1px solid #000;
  resize: none;
}

form button {
  width: 150px;
  margin: 0 auto;
}

footer p {
  padding: 15px;
  background: white;
  text-align: center;
  font-size: 1.6rem;
}

span.avoidWrap {
  display: inline-block;
}

.aboutHide {
  position: relative;
  left: -300px;
  opacity: 0;
}

.toolkitHide {
  position: relative;
  bottom: -200px;
  opacity: 0;
}

.toolkitReveal {
  opacity: 1;
  bottom: 0;
}

.toolkitContainer {
  -webkit-transition-property: bottom, opacity;
  transition-property: bottom, opacity;
}

.projects {
  overflow: hidden;
}

.projectsHide {
  position: relative;
  opacity: 0;
  left: 300px;
}

.aboutReveal,
.projectReveal {
  left: 0;
  opacity: 1;
}

.projectContainer,
.bioContainer {
  -webkit-transition-property: left, opacity;
  transition-property: left, opacity;
}

.projectContainer,
.toolkitContainer,
.bioContainer {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    -webkit-animation: none;
            animation: none;
  }
}

@media (max-width: 995px) {
  .projectContainer {
    max-width: 500px;
    padding: 40px 20px;
  }
  .projectInfo {
    max-width: 80%;
  }
  .projectImage {
    max-width: 400px;
  }
  .projects ul li:nth-of-type(1) .projectImage,
  .projects ul li:nth-of-type(3) .projectImage {
    margin: 0;
  }
  .projects ul li:nth-of-type(2) .projectImage,
  .projects ul li:nth-of-type(4) .projectImage {
    margin: 0;
  }
  form,
  h5 {
    max-width: 400px;
  }
}

@media (max-width: 850px) {
  h1 span:nth-of-type(3) {
    font-size: 6rem;
  }
  main {
    background-size: 100%, 100%, 100%, 100%;
    background-position: 100%, 100% 15%, 100% 67%, 100% 90%;
  }
  .aboutContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profilePic {
    min-width: 450px;
    padding-bottom: 50px;
    margin: 0;
  }
  .mobileImage {
    display: block;
  }
  .desktopImage {
    display: none;
  }
  .contact {
    background-size: cover;
  }
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .connections {
    padding: 25px 0 75px 0;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  form,
  h5 {
    max-width: 500px;
  }
}

@media (max-width: 715px) {
  h1 span:nth-of-type(1) {
    font-size: 2.5rem;
  }
  h1 span:nth-of-type(2) {
    font-size: 4rem;
  }
  h1 span:nth-of-type(3) {
    font-size: 5rem;
  }
  header {
    height: auto;
  }
  header h1 {
    padding-top: 70px;
  }
  header p {
    font-size: 3.5rem;
  }
  .about h3 {
    font-size: 2.5rem;
  }
  .about p {
    font-size: 2rem;
  }
  .profilePic {
    min-width: 0;
    max-width: 450px;
    padding: 0 20px 50px 0;
  }
  .projectContainer {
    max-width: 400px;
  }
  .projectImage,
  .projectInfo {
    min-width: 0;
    max-width: 300px;
  }
  h4 {
    font-size: 4rem;
  }
  .projectContainer p:first-of-type {
    font-size: 1.8rem;
  }
  .toolkitContainer {
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px 0px;
  }
  .toolkitContainer li {
    width: 125px;
    height: 125px;
  }
  .toolkitContainer li:last-child {
    padding: 10px 5px;
  }
  .toolkitContainer i {
    font-size: 5rem;
  }
  .toolkitContainer .toolkitContainer li:last-of-type i {
    font-size: 4rem;
  }
  .toolkitContainer img {
    width: 50px;
  }
  .toolkit ul p {
    font-size: 1.6rem;
  }
  .socials a {
    font-size: 3rem;
    padding: 10px 15px;
  }
}

@media (max-width: 580px) {
  .mobileNav {
    display: block;
    font-size: 3.5rem;
  }
  nav a:not(.mobileNav) {
    padding: 5px 10px;
  }
  nav ul {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav ul li:last-child {
    margin-bottom: -130px;
  }
  .dropDownItem.toggleDropDown {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .dropDownItem {
    pointer-events: none;
    opacity: 0;
  }
  .toggleDropDown {
    pointer-events: all;
    opacity: 1;
  }
  nav li:last-of-type a::after {
    height: 3px;
  }
  h1 span:nth-of-type(1) {
    font-size: 2.5rem;
  }
  h1 span:nth-of-type(2) {
    font-size: 2.5rem;
  }
  h1 span:nth-of-type(3) {
    font-size: 2.9rem;
  }
  header p {
    font-size: 2.5rem;
  }
  main {
    background-size: 100%, 101%, 105%, 105%;
    background-position: 100%, 100% 16%, -523% 74%, 359% 87%;
  }
  h2 {
    padding: 50px 0;
    font-size: 6rem;
  }
  .about {
    padding-top: 50px;
  }
  .about h3 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.8rem;
  }
  .about a {
    width: 226px;
    height: 62px;
    padding: 17px 15px;
  }
  .profilePic {
    max-width: 350px;
  }
  h4 {
    font-size: 3.5rem;
  }
  .aboutHide {
    left: -200px;
  }
  .projectsHide {
    left: 200px;
  }
  .projectReveal,
  .aboutReveal {
    left: 0;
  }
  .projects a:first-of-type {
    margin: 0 0 5px 0;
  }
  .projects a {
    height: 62px;
    padding: 15px 15px;
    font-size: 2.5rem;
    text-align: center;
  }
  .projects .projectContainer p:last-of-type {
    padding: 10px 5px 30px 5px;
  }
  h4 {
    font-weight: 600;
  }
  .projectContainer {
    padding: 25px 10px;
    margin: 25px auto;
  }
  .projectContainer p:last-of-type {
    font-size: 1.9rem;
  }
  .projectImage,
  .projectInfo {
    min-width: 0;
    max-width: 100%;
  }
  h4,
  .projectInfo p {
    padding: 0 5px;
  }
  .toolkitContainer {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px 10px;
  }
  .toolkitContainer img {
    width: 35px;
    margin: 0;
  }
  .toolkitContainer li {
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: 0;
        -ms-flex-pack: 0;
            justify-content: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .toolkitContainer i {
    font-size: 3rem;
    width: 37.5px;
  }
  .toolkitContainer li:last-of-type i {
    font-size: 3rem;
  }
  .toolkitContainer p {
    padding: 0 0 0 10px;
  }
  .desktopToolkit {
    display: none;
  }
  .mobileToolkit {
    display: block;
  }
  form {
    width: 100%;
  }
  form button {
    height: 62px;
    width: 200px;
    font-size: 2.5rem;
    padding: 15px 15px;
  }
  .contact {
    padding-bottom: 50px;
  }
  .contactBox a i {
    margin-top: 7px;
  }
  .contactContainer {
    padding: 0 10px 25px 10px;
  }
  .connections {
    width: 100%;
  }
  .connections p {
    font-size: 2.5rem;
  }
  .follow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socials li:first-of-type {
    display: none;
  }
  .formTitleDesktop {
    display: none;
  }
  .formTitleMobile {
    display: inline;
  }
  h5 {
    font-size: 2rem;
  }
  button,
  .projects a,
  .about a {
    display: block;
    background: #FFF;
    -webkit-transition-property: border, color, background;
    transition-property: border, color, background;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  button:hover, button:focus,
  .projects a:hover,
  .projects a:focus,
  .about a:hover,
  .about a:focus {
    border: 2px solid #6fae64;
    color: #FFF;
    background: #6fae64;
  }
}

@media (max-width: 344px) {
  h1 span:nth-of-type(3) {
    font-size: 2.7rem;
  }
  .aboutHide {
    left: -145px;
  }
  .projectsHide {
    left: 145px;
  }
  .projectReveal,
  .aboutReveal {
    left: 0;
  }
  .toolkitContainer li,
  .toolkitContainer li:last-child {
    padding-left: 27%;
  }
}
